body {
    background-color: #111111;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


#pongCanvas {
    background-color: black;
    border: 2px solid #ffffff; /* border for visibility */
    image-rendering: pixelated; 
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
#gameContainer {
    position: relative;
    display: inline-block;
}

#restartButton {
    display: none;
/*positioning*/
    position: absolute;
    top: 60.9%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
/*sizing and font*/
    font-family: 'Jersey 10';
    font-size: 50px;
    padding: 20px 20px;
/*colors*/
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
/*misc*/
    cursor:pointer;
        transition: all 0.2s ease-in-out;
}

#restartButton:hover {
    z-index: 101;
    background-color: white;
    color: black;
    border: 2px solid white;
    cursor:pointer
}