body {
    background-color: #111111;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


#pongCanvas {
    background-color: black;
    border: 2px solid #ffffff; /* border for visibility */
}